table {
	margin: 0 0 6em;
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	
	th, td {
	  padding: 15px;
	  border: 1px solid #dddddd;
	}

	th {
	  background-color: #f4f4f4;
	  font-weight: bold;
	}

	tr:nth-child(even) {
	  background-color: #f9f9f9;
	}
  }